# Parsing the splunk data

In [18]:
import pandas as pd

pd.set_option('display.max_colwidth', -1)

df = pd.read_csv('/Users/mtony/Downloads/splunk_ces_data.csv')
df.columns = ['id', 'timestamp']
df1 = df.head(10)
# df1['timestamp'] = df1['timestamp'].utcnow
# df1.groupby(['id']).count()
df1['timestamp'] = pd.to_datetime(df1['timestamp'])
df1.groupby(["id"]).

/Users/mtony/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

                                     id               timestamp
0  b9e6d2e6-0dd3-4159-8b00-13492451dbb4 2018-03-22 20:35:16.224
1  b9e6d2e6-0dd3-4159-8b00-13492451dbb4 2018-03-22 20:35:16.218
2  ded1fe8f-a6c4-417f-9731-01a3d6fca8f6 2018-03-22 20:35:16.213
3  ded1fe8f-a6c4-417f-9731-01a3d6fca8f6 2018-03-22 20:35:16.208
4  3b5ce82e-9843-441e-a486-4c10234cfeea 2018-03-22 20:35:16.142
5  3b5ce82e-9843-441e-a486-4c10234cfeea 2018-03-22 20:35:16.139
6  92daf8be-f39a-44cc-9d78-523826f2bc42 2018-03-22 20:35:16.026
7  034530d4-1732-464d-8616-bfd238fa80b5 2018-03-22 20:35:16.024
8  92daf8be-f39a-44cc-9d78-523826f2bc42 2018-03-22 20:35:16.020
9  034530d4-1732-464d-8616-bfd238fa80b5 2018-03-22 20:35:16.015